<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambio Master Web - Libros</title>

    <meta name="description" content="Tu web de trueques, completa de libros, accede en la página CambioMaster">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <div id="cambioMaster-wrapper" class="container-fluid col-12 border p-0 float-left">
        <nav id="menu" class="float-left col-2 p-0 sticky-top d-block m-0">
            <a href="/usuario/principal">
                <div id="cambioMasterPrincipal" class="float-left border border-left-0 border-top-0 w-100">
                    <img src="../img/cambioMasterWeb.png" alt="Icono de cambioMaster" class="w-100">
                </div>
            </a>
            <div id="seccionMis" class="float-left w-100 border border-top-0 d-block border-bottom-0">
                <ul id="seccionMis-container" class="p-0 pl-3 w-100">
                    <a href="/usuario/misProductos">
                        <li>
                            <div id="misProductos" class="pt-2 float-left w-100 opcionMenu p-0">
                                <img src="../img/misProductos.png" alt="Icono de un Mis productos" class="float-left">
                                <p class="float-left p-0">Mis productos</p>
                            </div>
                        </li>
                    </a>
                    <a href="/usuario/misCambios">
                        <li>
                            <div id="misCambios" class="pb-2 float-left w-100 opcionMenu p-0">
                                <img src="../img/misCambios.png" alt="Icono de un mis cambios" class="float-left">
                                <p class="float-left">Mis cambios</p>
                            </div>
                        </li>
                    </a>
                </ul>
            </div>
            <div id="categoria" class="float-left w-100 d-block border">
                <p class="font-weight-bold text-center">CATEGORÍAS</p>
                <ul id="categoria-container" class="p-0 pl-3 w-100">
                    <a href="/usuario/electronica">
                        <li>
                            <div id="electronica" class="pt-0 float-left w-100 opcionMenu p-0">
                                <img src="../img/electronica.png" alt="Icono de electrónica" class="float-left">
                                <p class="float-left p-0">Electrónica</p>
                            </div>
                        </li>

                    </a>
                    <a href="/usuario/alimentacion">
                        <li>
                            <div id="alimentacion" class="pb-0 float-left w-100 opcionMenu p-0">
                                <img src="../img/comida.png" alt="Icono de comida" class="float-left">
                                <p class="float-left">Alimentación</p>
                            </div>
                        </li>

                    </a>
                    <a href="/usuario/musica">
                        <li>
                            <div id="musica" class="pb-0 float-left w-100 opcionMenu p-0">
                                <img src="../img/musica.png" alt="Icono de música" class="float-left">
                                <p class="float-left">Música</p>
                            </div>
                        </li>

                    </a>
                    <a href="/usuario/libros">
                        <li>
                            <div id="libros" class="pb-0 float-left w-100 opcionMenu p-0">
                                <img src="../img/libro.png" alt="Icono de libros" class="float-left">
                                <p class="float-left categoriaActiva">Libros</p>
                            </div>
                        </li>

                    </a>
                    <a href="/usuario/calzado">
                        <li>
                            <div id="calzado" class="pb-0 float-left w-100 opcionMenu p-0">
                                <img src="../img/calzado.png" alt="Icono calzado" class="float-left">
                                <p class="float-left">Calzado</p>
                            </div>
                        </li>

                    </a>
                    <a href="/usuario/moda">
                        <li>
                            <div id="moda" class="pt-0 pb-2 float-left w-100 opcionMenu p-0">
                                <img src="../img/ropa.png" alt="Icono ropa" class="float-left">
                                <p class="float-left">Moda</p>
                            </div>
                        </li>

                    </a>
                </ul>
            </div>
            <div id="menuOtros" class="float-left w-100 border border-top-0">
                <ul id="menuOtros-container" class="p-0 pl-3 w-100">
                    <a href="/usuario/ultimosCambios">
                        <li>
                            <div id="ultimosCambios" class="pt-2 float-left w-100 opcionMenu p-0">
                                <img src="../img/ultimosCambios.png" alt="Icono de últimos cambios" class="float-left">
                                <p class="float-left p-0">Últimos cambios</p>
                            </div>
                        </li>
                    </a>
                    
                </ul>
            </div>

        </nav>
        <section id="cambioMaster-container" class="float-left col-10">
            <div id="menuArriba" class="float-left p-0 m-0 w-100 border">
                <div id="buscador" class="col-4 float-left border">
                    <button id="botonLupa" class="col-2"><img src="../img/lupa.png"></button>
                    <input id="inputLupa" type="text" placeholder="Realiza una búsqueda...">
                </div>
                <a href="/usuario/misProductos">
                    <div id="misProductosTop" class="float-left pt-1 col-2 opcionMenu p-0">
                        <img src="../img/misProductos.png" alt="Icono de Mis productos" class="float-left pt-0">
                        <p class="float-left">Mis Productos</p>
                    </div>
                </a>
                <a th:href="@{/usuario/logout}">
                    <div id="logout" class="float-left ml-5 pt-1 col-2 opcionMenu p-0">
                        <img src="../../img/cerrarSesion.png" alt="Icono cerrar sesión" class="float-left">
                        <p class="float-left">Cerrar sesión</p>
                    </div>
                </a>

                <a th:href="@{/usuario/miPerfil}">
                    <div id="usuarioTop" th:object="${usuario}" class="float-left col-2 opcionMenu border-left">

                        <p class="float-left pt-1 pb-0 mb-0 ml-4" th:text="${usuario.username}">UserExample</p>

                        <img th:if="${usuario.imagen != null}" th:src="@{../files/{id}(id=${usuario.imagen})}"
                            alt="Icono de un usuario" class="float-left">
                        <img th:if="${usuario.imagen == null}" src="../img/usuario.png" alt="Icono de un usuario"
                            class="float-left">
                    </div>
                </a>
            </div>

            <div id="filtrarResultados" class="float-left w-100 border p-0">
                <img src="../img/fondoLibros.jpg" class="float-left col-5 p-0 m-0">
                <div id="formFiltrar" class="float-left pl-3 col-5">
                    <h2>Filtra tus libros:</h2>
                    <form name="formFiltrarPoductos" onsubmit="return false">
                        <div id="divValorEstimado" class="float-left w-100 mt-2">
                            <input type="radio" name="eleccionFiltro" value="valorEstimado"> Valor estimado <span
                                class="invisible">de <input id="min" min="0" type="number"> a <input id="max" min="0"
                                    type="number"></span>
                        </div>
                        <div id="divLocalidad" class="float-left w-100 mt-2">
                            <input type="radio" name="eleccionFiltro" value="localidad"> Localidad <input type="text"
                                id="inputLocalidad" class="invisible">
                        </div>
                        <div id="divValoracion" class="float-left w-100 mt-2">
                            <input type="radio" name="eleccionFiltro" value="valoracion"> Valoración <input
                                type="number" id="inputValoracion" max="5" min="0" class="invisible">
                        </div>
                        <button id="botonFiltrar"
                            class="bg-secondary border-0 text-white col-3 rounded">Filtrar</button>

                    </form>
                </div>
            </div>
            <div id="contenedor-productos" class="w-100 float-left pl-5">
                <h3 class="w-100 mt-3">Libros</h3>
                <div th:each="producto : ${productos}"
                    class="producto col-3 border mt-5 pt-3 pb-3 float-left mr-5 ml-4">
                    <a th:href="@{/usuario/producto/{id}(id = ${producto.id})}">
                        <img th:if="${producto.imagen != null}" th:src="@{../files/{id}(id=${producto.imagen})}"
                            class="text-center">
                        <img th:if="${producto.imagen == null}" src="../img/ejemploImagenProducto.png"
                            class="text-center">
                    </a>
                    <p th:text="${producto.nombre}" class="nombre text-center mt-3">Animal Crossing: new Horizons
                        (Switch)</p>
                    <p class="blockquote-footer">Fecha de compra: <span
                            th:text="${producto.fechaCompra}">20/03/2012</span></p>
                    <p class="blockquote-footer">Propietario: <span
                            th:text="${producto.usuario.username}">20/03/2012</span></p>
                    <p class="blockquote-footer">Valoracion de usuario: <span th:text="${producto.usuario.valoracion}"
                            class="valoracion">20/03/2012</span> / 5</p>
                    <p class="blockquote-footer">Localidad: <span class="localidad"
                            th:text="${producto.usuario.direccion}">sevilla</span></p>
                    <div class="valorAprox w-100 border pl-3">
                        <p class="m-0">Valor aproximado: <span class="valor" th:value="${producto.precioCompra}"
                                th:text="${producto.precioCompra}">60</span></p>
                    </div>
                </div>

            </div>

        </section>

    </div>

    <footer th:replace="~{fragmentos/piePagina::piePagina}"></footer>

    <script>
        $(function () {
            $("input[name='eleccionFiltro']").on("click", function () {

                switch ($("input[name='eleccionFiltro']:checked").val()) {

                    case "valorEstimado":
                        $("#divValorEstimado").children("span").removeClass("invisible");
                        $("#divLocalidad").children("input").eq(1).addClass("invisible");
                        $("#divValoracion").children("input").eq(1).addClass("invisible");
                        break;
                        ;

                    case "localidad":
                        $("#divValorEstimado").children("span").addClass("invisible");
                        $("#divLocalidad").children("input").eq(1).removeClass("invisible");
                        $("#divValoracion").children("input").eq(1).addClass("invisible");
                        break;
                        ;

                    case "valoracion":
                        $("#divValorEstimado").children("span").addClass("invisible");
                        $("#divLocalidad").children("input").eq(1).addClass("invisible");
                        $("#divValoracion").children("input").eq(1).removeClass("invisible");
                        break;
                        ;


                }


            });

            $("#botonFiltrar").on("click", function () {

                switch ($("input[name='eleccionFiltro']:checked").val()) {

                    case "valorEstimado":
                        var min = parseFloat($("#min").val());
                        var max = parseFloat($("#max").val());
                        var producto;

                        $(".producto").addClass("invisible");

                        for (let index = 0; index < $(".producto").length; index++) {
                            producto = parseFloat($(".producto").eq(index).children(".valorAprox").children("#valor").val())
                            if (parseFloat($(".valor").eq(index).text()) > min && parseFloat($(".valor").eq(index).text()) < max) {
                                $(".producto").eq(index).removeClass("invisible");
                            }

                        }


                        break;
                        ;

                    case "localidad":

                        var localidadIntroducida = $("#inputLocalidad").val();

                        $(".producto").addClass("invisible");

                        for (let index = 0; index < $(".producto").length; index++) {
                            if (String($(".localidad").eq(index).text().toLowerCase()) === String(localidadIntroducida.toLowerCase())) {
                                $(".producto").eq(index).removeClass("invisible");
                            }

                        }
                        break;
                        ;

                    case "valoracion":
                        var valoracion = parseFloat($("#inputValoracion").val());
                        var producto;

                        $(".producto").addClass("invisible");

                        for (let index = 0; index < $(".producto").length; index++) {

                            if (parseFloat($(".valoracion").eq(index).text()) == valoracion) {
                                $(".producto").eq(index).removeClass("invisible");
                            }

                        }

                        break;
                        ;
                }

            });

            $("#botonLupa").on("click", function () {


                var lupaIntroducida = $("#inputLupa").val();

                $(".producto").addClass("invisible");

                for (let index = 0; index < $(".producto").length; index++) {
                    if (String($(".nombre").eq(index).text().toLowerCase()) === String(lupaIntroducida.toLowerCase())) {
                        $(".producto").eq(index).removeClass("invisible");
                    }

                }



            });

        });
    </script>

</body>

</html>