<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambio Master Web - Política de datos</title>

    <meta name="description" content="Tu web de trueques y su política de datos, accede en la página CambioMaster">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <div id="avisoLegal-wrapper" class="container-fluid col-12 float-left">

        <div id="aviso-container" class="col-12 pb-7 float-left bg-secondary">

            <div id="aviso-cuerpo" class="col-11 float-left pb-4">
                <img src="../img/cambioMasterWeb.png">
                <div id="aviso-contenido" class="col-8 text-center pb-4">
                    <h1>Politica de datos</h1>
                   <p>Cambio Master Web está especialmente sensibilizada en la protección de los datos de los USUARIOS
                    de los servicios a los que se accede a través de su web. Mediante la presente Política de Privacidad
                    (en adelante , la Política) Cambio Master Web informa a los USUARIOS del sitio web: (VUESTROS
                    DATOS)del tratamiento y usos a los que se someten los datos de carácter personal que se recaban en
                    la web, con el fin de que decidan, libre y voluntariamente, si desean facilitar la información
                    solicitada.</p>

                   <p>Cambio Master Web se reserva la facultad de modificar esta Política con el objeto de adaptarla a
                    novedades legislativas, criterios jurisprudenciales, prácticas del sector, o intereses de la
                    entidad. Cualquier modificación en la misma será anunciada con la debida antelación, a fin de que
                    tengas perfecto conocimiento de su contenido.</p> 

                   <p>Ciertos servicios prestados en el portal pueden contener condiciones particulares con previsiones en
                    materia de protección de Datos Personales. De ellos puedes informarte en los correspondientes
                    apartados.</p> 

                    <h3>TITULARIDAD DEL TRATAMIENTO</h3>
                   <p>En dichos supuestos, los datos recabados por Cambio Master Web serán incorporados a ficheros
                    titularidad de Cambio Master Web , debidamente inscritos en el Registro General de Protección de
                    Datos.</p> 

                    <h3>USOS Y FINALIDADES</h3>
                   <p>La finalidad de la recogida y tratamiento de los datos personales es la gestión, prestación y
                    personalización de los servicios y contenidos del mismo que el USUARIO utilice y de la cual se
                    informará en cada apartado.</p> 

                    <h3>COMUNICACIÓN DE LOS DATOS</h3>
                   <p>Los datos recabados a través de la web sólo serán cedidos en aquellos casos en que expresamente se
                    informe de ello al USUARIO.</p> 

                    <h3>ACTUALIZACIÓN DE LOS DATOS</h3>
                   <p>Con el fin de que los datos obrantes en nuestras bases de datos siempre correspondan a tu situación
                    real deberás mantenerlos actualizados, bien actualizándolos tú directamente en los caso en que ello
                    sea posible bien comunicándolo al departamento correspondiente.</p> 

                    <h3>UTILIZACIÓN DE COOKIES</h3>
                   <p>Con el objeto de proteger la intimidad de los usuarios de su página web Cambio Master Web no
                    emplea cookies cuando los mismos navegan por la misma.</p> 

                    <h3>SEGURIDAD DE LOS DATOS</h3>
                   <p>Cambio Master Web ha adoptado en su sistema de información las medidas técnicas y organizativas
                    legalmente requeridas, a fin de garantizar la seguridad y confidencialidad de los datos almacenados,
                    evitando así, en la medida de lo posible, su alteración, pérdida, tratamiento o acceso no
                    autorizado.</p> 

                    <h3></h3>DERECHOS DE LOS USUARIOS
                   <p>En todo caso podrás acceder a tus datos, rectificarlos, cancelarlos y en su caso, oponerte a su
                    tratamiento:
                    a) bien mediante solicitud acompañada de una fotocopia de tu D.N.I., remitida a la siguiente
                    dirección postal: Cambio Master Web . X(VUESTROS DATOS)X, C.P. X (VUESTROS DATOS)X - X(VUESTROS
                    DATOS)X
                    b) bien mandando un e-mail a la siguiente dirección de correo electrónico: X(VUESTROS DATOS)X</p> 
                </div>

            </div>

        </div>

    </div>

    <footer th:replace="~{fragmentos/piePagina::piePagina}"></footer>

</body>

</html>