<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

    <footer class="float-left container-fluid" th:fragment="piePaginaDentro">
        <p class="float-left d-block">© 2016 Cambio Master SL todos los derechos reservados.</p>
        <p class="float-left d-block"><a href="/politicaDeDatos">Política de datos</a></p>
        <p class="float-left d-block"><a href="/avisoLegal">Aviso legal</a></p>
        <div id="redes" class="text-center">
            <a href="#"><img src="../../img/twitter.png" class=""></a>
            <a href="#"><img src="../../img/facebook.png"></a>
            <a href="#"><img src="../../img/instagram.png"></a>
        </div>
    </footer>
    
</body>
</html>