<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambio Master Web - Administrador - Empresas</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <div id="cambioMaster-wrapper" class="container-fluid col-12 border p-0 float-left">
        <nav id="menu" class="float-left col-2 p-0 sticky-top d-block m-0">
            <a href="/admin/principal">
                <div id="cambioMasterPrincipal" class="float-left border border-left-0 border-top-0 w-100">
                    <img src="../img/cambioMasterWeb.png" alt="Icono de cambioMaster" class="w-100">
                </div>
            </a>
            <div id="seccionMis" class="float-left w-100 border border-top-0 d-block">
                <ul id="seccionMis-container" class="p-0 pl-3 w-100">
                    <a href="/admin/gestionUsuarios">
                        <li>
                            <div id="usuarios" class="pt-2 float-left w-100 opcionMenu p-0">
                                <img src="../img/gestionUsuarios.png" alt="Icono de un Mis productos"
                                    class="float-left">
                                <p class="float-left p-0">Usuarios</p>
                            </div>
                        </li>
                    </a>
                    <a href="/admin/historialCambios">
                        <li>
                            <div id="historialCambios" class="pb-2 float-left w-100 opcionMenu p-0">
                                <img src="../img/historialCambios.png" alt="Icono de un mis cambios"
                                    class="float-left">
                                <p class="float-left">Historial de cambios</p>
                            </div>
                        </li>
                    </a>
                    <a href="/admin/gestionEmpresas">
                        <li>
                            <div id="gestionEmpresas" class="pb-2 float-left w-100 opcionMenu p-0">
                                <img src="../img/gestionEmpresas.png" alt="Icono de un mis cambios"
                                    class="float-left">
                                <p class="float-left">Empresas</p>
                            </div>
                        </li>
                    </a>
                    <a href="/admin/gestionEnvios">
                        <li>
                            <div id="gestionEnvios" class="pb-2 float-left w-100 opcionMenu p-0">
                                <img src="../img/gestionEnvios.png" alt="Icono de un mis cambios"
                                    class="float-left">
                                <p class="float-left categoriaActiva">Gestión de envios</p>
                            </div>
                        </li>
                    </a>
                    <a href="/admin/gestionProductos">
                        <li>
                            <div id="gestionProductos" class="pb-2 float-left w-100 opcionMenu p-0">
                                <img src="../img/gestionProductos.png" alt="Icono de un mis cambios"
                                    class="float-left">
                                <p class="float-left">Productos</p>
                            </div>
                        </li>
                    </a>
                </ul>
            </div>

            <div id="menuOtros" class="float-left w-100 border border-top-0">
                <ul id="menuOtros-container" class="p-0 pl-3 w-100">
                    <a href="/admin/ultimosCambios">
                        <li>
                            <div id="ultimosCambios" class="pt-2 float-left w-100 opcionMenu p-0">
                                <img src="../img/ultimosCambios.png" alt="Icono de últimos cambios"
                                    class="float-left">
                                <p class="float-left p-0">Últimos cambios</p>
                            </div>
                        </li>
                    </a>
                </ul>
            </div>

        </nav>
        <section id="cambioMaster-container" class="float-left col-10">
            <div id="menuArriba" class="float-left p-0 m-0 w-100 border">
                <div id="buscador" class="col-4 float-left border">
                    <button class="col-2"><img src="../img/lupa.png"></button>
                    <input type="text" placeholder="Realiza una búsqueda...">
                </div>
                
                <div id="usuarioTop" class="float-right col-2 opcionMenu border-left">
                    <p class="float-left pt-1 pb-0 mb-0 ml-4">Admin</p>
                    <img src="../img/usuario.png" alt="Icono de un usuario" class="float-left">
                </div>

                <a th:href="@{/admin/logout}">
                    <div id="logout" class="float-right pt-1 col-2 opcionMenu p-0">
                        <img src="../../img/cerrarSesion.png" alt="Icono cerrar sesión" class="float-left">
                        <p class="float-left">Cerrar sesión</p>
                    </div>
                </a>
            </div>
            <div id="cabeceraConfiguracion" class="col-10 float-left mt-3 mb-0">
                <img src="../img/gestionEnvios.png" class="float-left col-1">
                <h3 class="float-left">Gestión de envios</h3>
            </div>
            <div id="contenedor-configuracion" class=" float-left border ml-5 mt-5 pl-5 ">
                <div class="col-12 float-left pt-2 mb-3">
                    <img src="../img/gestionEnvios.png" class="col-2 float-left">
                    <h4 class="float-left pt-4">Gestión de envíos</h4>
                </div>
                
                <p>La política de envíos es el plato importante de nuestra empresa.</p>
                <p>La tarifa de envíos dispone de un porcentaje del 12% del valor del
                    producto.</p>

                <form action="" method="get">
                    <div class="w-100 float-left">
                        <label for="nuevoEnvio"
                            class="float-left col-3 pb-1 m-0 float-left bg-secondary text-white text-center">Nuevo envío</label>
                        <input name="nuevoEnvio" id="nuevoEnvio" class="float-left col-5 p-0 m-0 float-left"
                            type="password" placeholder="Introduzca aquí el nuevo envío">
                        </br></br>
                        
                        <button class="botonAzul float-right col-3 p-1 mr-4 mb-1">Cambiar envío</button>
                    </div>

                </form>

            </div>

        </section>

    </div>

    <footer th:replace="~{fragmentos/piePagina::piePagina}"></footer>

</body>

</html>