<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambio Master Web - Administrador - Productos</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <div id="cambioMaster-wrapper" class="container-fluid col-12 border p-0 float-left">
        <nav id="menu" class="float-left col-2 p-0 sticky-top d-block m-0">
            <a href="/admin/principal">
                <div id="cambioMasterPrincipal" class="float-left border border-left-0 border-top-0 w-100">
                    <img src="../img/cambioMasterWeb.png" alt="Icono de cambioMaster" class="w-100">
                </div>
            </a>
            <div id="seccionMis" class="float-left w-100 border border-top-0 d-block">
                <ul id="seccionMis-container" class="p-0 pl-3 w-100">
                    <a href="/admin/gestionUsuarios">
                        <li>
                            <div id="usuarios" class="pt-2 float-left w-100 opcionMenu p-0">
                                <img src="../img/gestionUsuarios.png" alt="Icono de un Mis productos"
                                    class="float-left">
                                <p class="float-left p-0">Usuarios</p>
                            </div>
                        </li>
                    </a>
                    <a href="/admin/historialCambios">
                        <li>
                            <div id="historialCambios" class="pb-2 float-left w-100 opcionMenu p-0">
                                <img src="../img/historialCambios.png" alt="Icono de un mis cambios"
                                    class="float-left">
                                <p class="float-left">Historial de cambios</p>
                            </div>
                        </li>
                    </a>
                    <a href="/admin/gestionEmpresas">
                        <li>
                            <div id="gestionEmpresas" class="pb-2 float-left w-100 opcionMenu p-0">
                                <img src="../img/gestionEmpresas.png" alt="Icono de un mis cambios"
                                    class="float-left">
                                <p class="float-left">Empresas</p>
                            </div>
                        </li>
                    </a>
                    <a href="/admin/gestionEnvios">
                        <li>
                            <div id="gestionEnvios" class="pb-2 float-left w-100 opcionMenu p-0">
                                <img src="../img/gestionEnvios.png" alt="Icono de un mis cambios"
                                    class="float-left">
                                <p class="float-left">Gestión de envios</p>
                            </div>
                        </li>
                    </a>
                    <a href="/admin/gestionProductos">
                        <li>
                            <div id="gestionProductos" class="pb-2 float-left w-100 opcionMenu p-0">
                                <img src="../img/gestionProductos.png" alt="Icono de un mis cambios"
                                    class="float-left">
                                <p class="float-left categoriaActiva">Productos</p>
                            </div>
                        </li>
                    </a>
                </ul>
            </div>

            <div id="menuOtros" class="float-left w-100 border border-top-0">
                <ul id="menuOtros-container" class="p-0 pl-3 w-100">
                    <a href="/admin/ultimosCambios">
                        <li>
                            <div id="ultimosCambios" class="pt-2 float-left w-100 opcionMenu p-0">
                                <img src="../img/ultimosCambios.png" alt="Icono de últimos cambios"
                                    class="float-left">
                                <p class="float-left p-0">Últimos cambios</p>
                            </div>
                        </li>
                    </a>
                </ul>
            </div>

        </nav>
        <section id="cambioMaster-container" class="float-left col-10">
            <div id="menuArriba" class="float-left p-0 m-0 w-100 border">
                <div id="buscador" class="col-4 float-left border">
                    <button class="col-2"><img src="../img/lupa.png"></button>
                    <input type="text" placeholder="Realiza una búsqueda...">
                </div>
                
                <div id="usuarioTop" class="float-right col-2 opcionMenu border-left">
                    <p class="float-left pt-1 pb-0 mb-0 ml-4">Admin</p>
                    <img src="../img/usuario.png" alt="Icono de un usuario" class="float-left">
                </div>

                <a th:href="@{/admin/logout}">
                    <div id="logout" class="float-right pt-1 col-2 opcionMenu p-0">
                        <img src="../../img/cerrarSesion.png" alt="Icono cerrar sesión" class="float-left">
                        <p class="float-left">Cerrar sesión</p>
                    </div>
                </a>
            </div>
            <div id="cabeceraConfiguracion" class="col-10 float-left mt-3 mb-0">
                <img src="../img/gestionProductos.png" class="float-left col-1">
                <h3 class="float-left">Productos</h3>
            </div>
            <div id="contenedor-usuarios" class=" float-left col-12 border mt-5 pl-3">

                <table class="table col-12">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Propietario</th>
                            <th scope="col">Comprado el...</th>
                            <th scope="col">Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="producto : ${listaProducto}">
                            <th scope="row" th:text="${listaProducto.indexOf(producto) + 1}">1</th>
                            <td th:text="${producto.nombre}">Animal Crossing: New Leaf</td>
                            <td th:text="${producto.categoria}">Electrónica</td>
                            <td th:text="${producto.usuario.username}">UserExample</td>
                            <td th:text="${producto.fechaCompra}">11/06/1999</td>
                            <td th:text="${producto.precioCompra}">60</td>
                            <td><a th:href="@{/admin/editarProducto/{id}(id = ${producto.id})}"><button id class="editar float-left mr-1 ">Edit</button></a></td>
                            <td><a th:href="@{/admin/eliminarProducto/{id}(id = ${producto.id})}"><button id="Eliminar" class="float-left mr-1 botonRojo">Eliminar</button></a></td>
                        </tr>
                    </tbody>
                </table>
                <div id="botonesMisProductos" class="float-right mt-5 mb-2 pt-3 text-right">
                    
                </div>

            </div>

        </section>

    </div>

    <footer th:replace="~{fragmentos/piePagina::piePagina}"></footer>

</body>

</html>